
* {
    -fx-primary : #EDE2BB;
    -fx-secondary : #412911;
}


.scrollPane > .viewport {
    -fx-background-color: transparent;
}

.scrollPane {
    -fx-background-color: transparent;
}


.root {
    -fx-background-color: -fx-primary;
}

.button {
    -fx-text-fill: -fx-secondary;
    -fx-font-family: 'Georgia';
    -fx-background-color: transparent;
    -fx-border-width: 3;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-size: 18pt;
}

.button:hover {
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.custom-text-field {
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 15pt;
    -fx-font-family: 'Georgia';
    -fx-background-color: transparent;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: -fx-secondary;
    -fx-padding: 0 0 5 0;
    -fx-prompt-text-fill: #B2A131;
}

.custom-text-field .text-input {
    -fx-fill: -fx-secondary;
}

.label {
    -fx-font-family: 'Georgia';
    -fx-font-size: 72pt;
    -fx-text-fill: -fx-secondary;
}