
* {
    -fx-primary : #EDE2BB;
    -fx-secondary : #412911;
}

.root {
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-width: 20;
}

#flipButton, #readyButton {
    -fx-text-fill: -fx-secondary;
    -fx-font-family: 'Georgia';
    -fx-background-color: transparent;
    -fx-border-width: 3;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-size: 18pt;
}

#flipButton:hover {
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

#readyButton:hover {
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.label {
    -fx-font-family: 'Georgia';
    -fx-text-fill: -fx-secondary;
}

#publicGoalLabel {
    -fx-font-size: 25pt;
}

#flipStarterCardLabel{
    -fx-font-size: 30pt;
}

#choseGoalCardLabel {
    -fx-font-size: 30pt;
}

