
* {
    -fx-primary : #EDE2BB;
    -fx-secondary : #412911;
}

.root {
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-width: 30;
}

.button {
    -fx-text-fill: -fx-secondary;
    -fx-font-family: 'Georgia';
    -fx-background-color: transparent;
    -fx-border-width: 3;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-size: 18pt;
}

.button:hover {
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.label {
    -fx-font-family: 'Georgia';
    -fx-font-size: 36pt;
    -fx-text-fill: -fx-secondary;
}

